<% let year = (new Date()).getFullYear() %>
        <p style="float:right;" class="text-muted">&copy; <%= year %> github.com/EswarBalasubramanian</p>
</div>

<script src="/js/jquery-3.5.0.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</body>
</html>
