<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Feedback Management</title>
<link rel="stylesheet" href="/css/bootstrap.min.css" >
<link rel="stylesheet" href="/css/all.css" >
  <link rel="stylesheet" href="/css/styles.css">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">FEEDBACK MANAGEMENT</p>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" id="home" href="home">HOME <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" id="list" href="list">FORMS</a>
          <a class="nav-item nav-link" id="results" href="results">RESULTS</a>
        </div>
      </div>
    </div>
</nav>
</head>

  <body>
    <div class="container">
