<%- include("header") -%>

<div class="container-fluid">
  <div class="row d-flex justify-content-center">

<% formNames.forEach(function(name){ %>
  <div class="card col-lg-3" style="width: 18rem; margin: 1rem;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <i class="card-img-top fas fa-file-signature fa-4x" style="padding-top: 1rem;"></i>
    <div class="card-body">
      <h3 class="card-title"><%= name %></h3>
      <p class="card-text">Form Description</p>
      <form action="/entry" method="post">
        <button class="btn btn-info" type="submit" name="formName" value="<%= name %>">New Entry</button>
      </form>
    </div>
  </div>

<% }); %>

</div>
</div>

<%- include("footer") -%>
