<%- include("header") -%>

<div class="container h-100"  style="max-width: 50%;">
  <div class="row h-100 justify-content-center align-items-center">
    <form class="col-12">
      <div class="form-group">
        <br><br>
        <h2 style="color:#0fad00">Success</h2>
      </div>
      <div class="form-group">
        <p style="font-size:20px;color:#5C5C5C;">Your changes has been saved. Please click the button to go back to home page.</p>
      </div>
      <div class="form-group">
        <a href="/" class="btn btn-success">Home</a>
      </div>
    </form>
  </div>
</div>

<%- include("footer") -%>
