body {
  text-align: center;
  font-family: "Catamaran", Helvetica, sans-serif;
}

/* HEADER SECTION START */

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 600;
}

/* HEADER SECTION END */

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

input[type="checkbox"].check-different {
  margin: 20px;
}

.button-shape {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #17a2b8;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"].different {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #17a2b8;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.navbar-nav li a:hover {
  color: #17a2b8 !important;
}

/* POPUP SECTION */
.required::after {
  content: "*";
  color: red;
}

/* FOOTER SECTION */

.text-muted {
  position: fixed;
  bottom: 0;
  right: 0;
}

.containerr {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.footer {
  background-color: #17a2b8;
  color: #fff;
}

/* Staff List Section */
.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

/* ENTRY PAGE */
.entry__form {
  width: 80vw;
  margin: 2rem auto;
}

.entry__label {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.entry__label--input {
  width: 17px;
  height: 17px;
}
